
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: auto;
}
.container .section {
    position: relative;
    width: 100%;
    height: 100%;
}
.container .section:nth-child(1) {


    background-attachment: fixed;
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    animation: slide 20s ease-in-out infinite;
}
.container .section:nth-child(2) {
    
    background-attachment: fixed;
    /* background-position: center ;
    background-size: cover;
    background-repeat: no-repeat; */
    background: #f00 url("./images/img1.jpg")
}
.container .section:nth-child(3) {
    background-attachment: fixed;
    background-size: cover;
    background: #f00 url("./images/img2.jpg")
}


.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    animation: slide 20s ease-in-out infinite;
}
/* #slideImg{
    width: 100%;
    height: 100%;
    animation: fade 8s ease-in-out infinite;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
} */

@keyframes slide {
    0% {
        background-image: url("./images/img1.jpg");
    }
    25% {
        background-image: url("./images/img2.jpg");
    }
    50% {
        background-image: url("./images/img3.jpg");
    }
    75% {
        background-image: url("./images/img1.jpg");
    }
    100% {
        background-image: url("./images/img2.jpg");
    }
}

.overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
}
.logo{
    z-index: 100;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.logo img{

    width: 40%;
  height: auto;
}
h2
{
    color: #fff;
    text-align: center;
    font-size: 5vw;
    line-height: 0.6em;
    z-index: 100;
    font-weight: 90;
    margin: auto;
}
.down img{
    transform: rotate(90deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.down {
    display: flex;
    justify-content: center;
}
.content p{
    color: #fff;
    text-align: center;
    font-size: 2vw;
    line-height: 0.6em;
    z-index: 100;
    font-weight: 90;
    margin: 4% 0;
}
h1{
    color: #fff;
    text-align: center;
    font-size: 5vw;
    line-height: 0.6em;
    z-index: 100;
    font-weight: 90;
    margin: auto;
}
}
p{
    z-index: 100;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper {
    margin-top: 2%;
  display: flex;
  width: 42%;
  height: 20%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: 	rgb(153, 153, 153);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 85vh;
}
footer {
    background-color: #121315;
    color: #a7a7a7;
    font-size: 16px;
  }
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row.primary {
    display: grid;
    justify-content: center;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 6em;
    justify-content: center;
  }
  .column h3{
    text-align: center;
    margin-bottom: 3%;
    text-transform: capitalize;

  }
  .column p{
    text-align: center
  }

  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
  
  }